.navbarlr-body{
    height: 100%;
    width: 100%;
    margin-top: -1.2%;

}


.navbarlr-container{
    /* background-color: springgreen; */
    background: linear-gradient(rgba(20, 206, 76, 0.527), rgba(10, 182, 76, 0.199));
    height: 8vh;
    width: 100vw;
    margin-top: -.5%;
    margin-left: -.5%;
}


.navbarlr-section h1{
    background-color: rgba(46, 139, 86, 0.767);
    text-align: center;
    font-family:  Lucida 'HandWriting';
    font-style: italic;
    text-decoration: double underline;
    color: rgb(70, 67, 70);

}