.home-container{
    height: 100%;
    width: 100%;
    margin-left: -.5rem;

}


.home-content{
    /* background-color: darkolivegreen; */
    background-image: url(../../../images/pictures/background_img_green28.png);
    background-repeat: none;
    background-size: cover;
    width: 100vw;
    height: 100vh;



}


.home-grid-layout{
   display: grid;
   grid-gap: 2rem;
  /* grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem; */
   width: 100%;
  justify-items: center;

}



.home-section1{
   margin-top: 1%;
   background-color: rgba(39, 209, 152, 0.267);
   height: 15vh;
   width: 100%;
   grid-column: 1/4;
   grid-row: 1;
   
}

.home-section1-images-container{
   /* grid-template-columns: repeat(4, 1fr); */
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: 1rem;
   overflow: hidden;
   /* overflow-x: scroll; */
  
}

.home-section1-images-card{
   margin-top: 2%;
   height: 13.2vh;
   width: 10vw;
   background-color: bisque;
   justify-self: center;

}


.home-section2{
    
    background-color: rgba(242, 255, 127, 0.445);
    height: 55vh;
    width: 25vw;
    grid-column: 1;
    grid-row: 2 / 5;
 
 }

 .home-section2-header{
    background-color: brown;
    
 }

 .home-section2-header h2{
    color: aliceblue;
    /* margin-top: -.1%; */
 }

 .home-section2-container{
     overflow: hidden;
     overflow-y: scroll;
     height: 400px;
     cursor: pointer;
     
 }

 .home-section2-container .lorem1:hover{
    /* transition: 3s ease-in; */
    color: aquamarine;
 }

 .home-section2-container .lorem2:hover{
   /* transition: 3s ease-in; */
   color:violet;
}
 /* .lorem1:hover{
    color: violet;

 } */


 .home-section3{
    background-color: rgba(138, 138, 187, 0.493);
    height: 55vh;
    width: 25vw;
    grid-column: 3;
    grid-row: 2 / 5;
  
 }

 .home-section3-header{
    background-color: yellowgreen;

 }

 .home-section3-header h2{
     color: aliceblue;
     
 }

 .home-section3-container{
   overflow: hidden;
   overflow-y: scroll;
   height: 400px;

 }


 .home-section4{
    background-color: rgba(238, 137, 78, 0.315);
    height: 15vh;
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 5 / 7;
 
 }