.footer-container{
    height: 10vh;
    width: 100vw;
    margin-left: -.5rem;
    margin-top: -1.4rem;
}

.footer-content{
    /* background-color: rgb(0, 255, 128); */
    background: linear-gradient(rgba(20, 206, 76, 0.527), rgba(10, 182, 76, 0.199));
    height: 14vh;


}